app-rooms-side-bar {
  background-color: #595f6c;;
  width: 40%;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 3px;
}

/* Chat styles */

app-sub-rooms-side-bar {
  background-color: #f6f6f6;
  width: 60%;
  /*display: flex;*/
  flex-grow: 1;
  padding: 7px;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #383838;
  overflow-y: scroll;
}
