* {

  flex-grow: 1;
  padding: 24px 24px 0 24px;
  overflow-y: scroll;
  background-color: #bcdaff;
  margin: 5px 5px 0 5px;


  border-style: solid;
  border-width: 2px;
  border-color: rgba(24, 24, 24, 0.3);
  /*box-shadow: 10px 5px 50px #858585;*/
  /*box-shadow: 10px 5px 50px rgba(211, 211, 211, 0.34);*/
  min-height: 99vh;

}
